.info-container {
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 20px;
}

.info {
	margin: 0;
	font-size: 40px;
}

.repeat-btn {
	font-family: inherit;
	font-size: 20px;
	font-weight: 700;
	border-radius: 8px;
	padding: 12px 15px 15px;
	border: solid 1px white;
	cursor: pointer;
	color: white;
	background: transparent;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.repeat-btn:active {
	box-shadow: none;
	transform: scale(0.99, 0.99);
}
