@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lacquer&family=Shadows+Into+Light&display=swap');

.list-buttons {
	width: 600px;
	height: 600px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 3px;
}

.button {
	cursor: pointer;
	font-size: 120px;
	font-family: "Architects Daughter", cursive;
	border: solid 1px white;
	background: transparent;
	color: white;
	border-radius: 5px;
}

.button:active {
	transform: scale(0.98, 0.98);
}

.win {
	background: rgba(255, 255, 255, 0.1);
	transform: scale(0.95, 0.95);
}
